nav {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  opacity: 0;
  transform: translateY(15px);
}

.active {
  text-decoration: line-through;
  text-decoration-color: #ff5c00;
  text-decoration-thickness: 2px;
}
