nav {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  opacity: 0;
  transform: translateY(15px);
}

.active {
  text-decoration: line-through;
  text-decoration-color: #ff5c00;
  text-decoration-thickness: 2px;
}
.side-nav {
  /* right: -500px; */
  /* top: -500px; */
  background-color: rgba(255, 92, 0);
  width: 0;
  height: 0;
  overflow: clip;
  opacity: 0;
}
